*:before,
*:after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 20s ease infinite;
	        animation: gradientBG 20s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  font: inherit;
  color: #fff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

.page {
  min-height: 100vh;
  padding: 5vh 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  line-height: 50px;
}

/* utils */
.block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.search {
  margin: auto;
}

.title {
  margin: 0;
  font-size: 24px;
}

.input {
  background: none;
  font-size: 72px;
  width: calc(100vw - 4rem);
  border: none;
  outline: none;
  text-align: center;
  padding: 0;
}

.input::-webkit-input-placeholder {
  color: #323232;
}

.input::-moz-placeholder {
  color: #323232;
}

.input::-ms-input-placeholder {
  color: #323232;
}

.input::placeholder {
  color: #323232;
}

.grid {
  display: grid;
  place-items: center;
}

.grid-item {
  grid-area: 1/1;
}

.user-hint {
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  min-height: 38px;
}

.video {
  background-color: #000;
  display: block;
  width: 100%;
  max-width: 480px;
  max-height: 480px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: 1px solid transparent;
}

.loaded {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

.loaded:nth-of-type(2n) {
  -webkit-transform: scale(1) rotate(5deg);
          transform: scale(1) rotate(5deg);
}

.loaded:nth-of-type(3n) {
  -webkit-transform: scale(1) rotate(-5deg);
          transform: scale(1) rotate(-5deg);
}

.loaded:nth-of-type(4n) {
  -webkit-transform: scale(1) rotate(7deg);
          transform: scale(1) rotate(7deg);
}

@media (max-width: 480px) {
  .user-hint,
  .title {
    font-size: 18px;
  }
  .page {
    padding: 2rem;
  }
  .input {
    font-size: 36px;
  }
}
